/* DEMO STYLE */

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  background: #fff;
  border: none;
  border-radius: 0;
  margin: 0px;
  margin-bottom: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 0px;
  padding-right: 15px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #343a40;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  padding: 20px;
  background: #343a40;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 5px;
  font-size: 1.0em;
  display: block;
}

#sidebar ul li a:hover {
  color: #fd7e14;
  background: #007bff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #007bff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 20px !important;
  background: #28a745;
}

#sidebar.collapsed {
  width: 0;
  overflow: hidden;
}

#sidebar.active {
  width: 0; /* Fully collapse sidebar */
  overflow: hidden;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 280px);
  padding: 10px;
  min-height: 100vh;
  transition: all 0.1s;
  position: absolute;
  top: 0;
  right: 0;
}

/* Content expands fully when sidebar is collapsed */
#content.active {
  width: 100%;
}

#content.expanded {
  margin-left: 0;
}

/* ---------------------------------------------------
   DROPDOWN MENUS
----------------------------------------------------- */

/* Highlight the dropdown toggle link when dropdown is active */
.dropdown .dropdown-toggle.show {
  background-color: #007bff; /* Customize color as needed */
  color: white;
  border-radius: 4px;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
}

@media (max-width: 768px) {
  #sidebar.active {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  #content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #content.active {
    width: calc(100% - 250px);
  }
}

@media (max-width: 768px) {
  #sidebarCollapse span {
    display: none;
  }
}