<!-- Loads the base file -->
{% extends "base_file.html" %}

<!-- title -->
{% block title %}<title>After Login</title> {% endblock %}

{% block navigationbar %}
    <nav class="navbar navbar-light navbar-expand-md bg-info" style="background: #17a2b8; padding-bottom: 5px">
        {% if user.is_authenticated %}
            <div class="container">
                <a href="#"><strong>{{ user.get_username }}</strong></a>
                <div class="collapse navbar-collapse" id="navcol-3">
                    <ul class="navbar-nav mx-auto">         
                        {% block navigation_forms %}
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link fw-bold text-dark" aria-expanded="false" data-toggle="dropdown" href="#" style="padding-right: 35px;">Administrator Forms</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="">Add a User&nbsp;</a>
                                </div>
                            </li>
                        {% endblock %}
                        {% block navigation_actions %}
                        {% endblock %}   
                    </ul>
                    <a class="btn btn-primary" role="button" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                </div>
            </div>
            {% else %}
            <a class="btn btn-primary" role="button" href="{% url 'login' %}?next={{ request.path }}">Login</a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section class="text-center bg-light features-icons" style="padding-top: 1rem;padding-bottom: 1rem;">
            <div class="container-fluid">
                <div class="row">
                    
                </div>
                <div class="row"> 
                    <div class="col-lg-2"> </div> 
                    <div class="col-lg-4">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <a href="{% url 'generate_qr' %}">
                                <div class="d-flex features-icons-icon"><i class="icon-graph m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                                <h3 data-bss-hover-animate="pulse">Print Location QR Codes</h3>
                            </a>
                            <p class="lead mb-0">Print QRcode stickers that will be scanned to get position data.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <a href="{% url 'tabular_report' %}">
                                <div class="d-flex features-icons-icon"><i class="icon-plane m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                                <h3>View Reports</h3>
                            </a>
                            <p class="lead mb-0">View summarised analytics reports. Additionally you can download a copy of the raws data in any format </p>
                        </div>
                    </div>
                    
                    <div class="col-lg-2"> </div>
                </div>

                <div class="row">                                
                </div>
            </div>
        </section>
    {% endif %}

{% endblock  %}

