{% extends "base_file.html" %}

{% block title %}<title>login</title> {% endblock %}
{% block header %} {% endblock %}
{% load static %}
<!-- Body contents contents -->
{% block content %}
	<section class="py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card border-light">
                        <div class="card-body fw-bolder text-center text-muted d-flex flex-column align-items-center">
                            {% if qr_image %}
                                <img src="{{ qr_image }}" alt="QR Code" class="img-fluid my-3" />
                            {% else %}
                                <p>QR code could not be generated.</p>
                            {% endif %} 
                            <div>
                                <div class="row"> 
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <h3> Scan from the mobile application to login </h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-12 col-sm-12 col-md-10">
                                            <a class="text-dark" href="{% url 'username_passwd_login' %}">login With username and password</a>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}